<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/seb/GitHub/Xcode_iOS/Xcode_OpenGL_iOS_VR_with_Gyro/SebTest_openGL-FromScratch_GameTemplate_GameTechOpenGL_ES.xcodeproj</string>
</dict>
</plist>
