<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SebTest_openGL-FromScratch_GameTemplate_GameTechOpenGL_ES.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>96A1C4811BC6D4EA0022270F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96A1C49E1BC6D4EA0022270F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96A1C4A91BC6D4EA0022270F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
